<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Available Heros</title>
  </head>
  <body>
    <nav>
      <a href="https://peaceful-spire-17672.herokuapp.com/">Home</a>
    </nav>
    
    <div id="hero-section">
        <img id="hero" src="static/images/hero1.jpg">
    </div>
    <script src="static/herocookie.js"></script>
    <div>

    </div>
    <div class='price'><h1>Roster</h1>
      <ul>
      <% for (var i = 0; i < heros.length; i ++) { %>
        
       <li><button id =" <%= heros[i].split('&')[1] %>" onclick="setCookie('hero',this.id)">
         <%= heros[i].split("&")[0] %>
         <% console.log(heros[i]); %>
        </button>
         </li>
       

       <% } %>
      </ul>
  </div>
    
  </body>
</html>
