<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Available Heros</title>
  </head>
  <body>
    <nav>
      <a href="https://peaceful-spire-17672.herokuapp.com/">Home</a>
    </nav>
    <div class='price'><h1>Roster</h1>
      <ul>
      <% for (var i = 0; i < heros.length; i ++) { %>
        
       <li><button id='temp'>
         
        </button>
         </li>
       
       <$ document.getElementById("temp").id=heros[i].split("&")[1]; $>

       <% } %>
      </ul>
  </div>
    
  </body>
</html>
