<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the dungeon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div id="hero-section">
      <img id="hero" src="static/images/blank.png">
  </div>
  <div id="monster-section">
    <img id="monster" src="static/images/blank.png">
</div>
  <script src="static/herocookie.js"></script>
  </head>
  <body>
    <form action="/monsters" method="POST">
      <input class="btn btn-default" type="submit" value="Pick a Monster" id="find">
  </form>
  <form action="/battle" method="POST">
    <input class="btn btn-default" type="submit" value="Battle!" id="battle">
</form>

<form action="/heros" method="POST">
  <input class="btn btn-default" type="submit" value="Pick your hero!" id="pick">
</form>

  </body>
</html>
