<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the dungeon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/monsters" method="POST">
      <input class="btn btn-default" type="submit" value="Find Monsters" id="find">
  </form>
  <form action="/battle" method="POST">
    <input class="btn btn-default" type="submit" value="Battle!" id="battle">
</form>

<form action="/heros" method="POST">
  <input class="btn btn-default" type="submit" value="Pick your hero!" id="pick">
</form>

  </body>
</html>
