<!DOCTYPE html>
<html>
  <head>
    <title>Postal Price Check</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to the Postal price checker</h1>
    <form action="/monsters" method="POST">
      <input class="btn btn-default" type="submit" value="Find Monsters" id="find">
  </form>

  </body>
</html>
