<!DOCTYPE html>
<html>
  <head>
    <title>Postal Price Check</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to the Postal price checker</h1>
    <form action="/postageForm" method="POST">

      <label class="control-label" for="weight">Weight(ozs): </label>
      <input class="form-control" type="number" name="weight" step=".01"> 
      <input class="form-control" type="radio" id ="LettersStamped" name="type" value="letterS">
      <label for="LettersStamped">Letters Stamped</label>
      <input class="form-control" type="radio" id ="LettersMetered" name="type" value="letterM"> 
      <label for="LettersMetered">Letters Metered</label>
      <input class="form-control" type="radio" id ="Envelopes" name="type" value="envelope"> 
      <label for="Envelopes">Envelope</label>
      <input class="form-control" type="radio" id ="FCSR" name="type" value="FCSR">  
      <label for="male">First Class Parcel Service</label>
      <input class="btn btn-default" type="submit" value="Search" id="search">
  </form>

  </body>
</html>
