<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shipping Price</title>
  </head>
  <body>
    <nav>
      <a href="https://peaceful-spire-17672.herokuapp.com/">Home</a>
    </nav>
    <div class='price'><h1>Price</h1>
      <ul>
      <% for (var i = 0; i < monsters.length; i ++) { %>

       <li><%=monsters[i]%></li>
       <% } %>
      </ul>
  </div>
    
  </body>
</html>
