<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shipping Price</title>
  </head>
  <body>
    <nav>
      <a href="https://peaceful-spire-17672.herokuapp.com/">Home</a>
    </nav>
    <div class='price'><h1>Price</h1>
      <h2> Your <%= type %> that weighs <%= weight %> would cost <%= price %> to ship</h2>
  </div>
    
  </body>
</html>
