body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}
.price{
  margin:auto;
  text-align: center;
}
nav{
text-align:center;
}
ul{
  list-style-position: inside;
}
